*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

body{
    --x: 500px;
    --y: 500px;

}

main{
    background-image: url(https://images.unsplash.com/photo-1763669029223-74f911a9e08b?q=80&w=1107&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

.layer{
    height: 100vh;
    width: 100vw;
    background: radial-gradient(200px at var(--x) var(--y),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.427),black);

}