*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    height: 480px;
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid black;
    position: relative;
    overflow: hidden;

}

#card .fullscreen{
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    background-size: cover;
    background-position: center;
    transition: all ease 1s;

   
}
#storiyan{
    height: 120px;
    width: 100%;
    border-bottom: 1px solid #dada;
    padding: 15px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#storiyan::-webkit-scrollbar{
    display: none;
}

.story{
    margin-right: 7px;
    padding: 3px;
    background: linear-gradient(yellow,purple,pink,blue,red);
    height: 90px;
    width: 90px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;

}
.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}