*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #111;
}

h1{
    color: white;
    text-align: center;
    font-size: 10rem;

}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

button:nth-child(1){
    color: white;
    font-size: 3rem;
    margin-top: 10px;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: green;

}

button:nth-child(2){
    color: white;
    font-size: 3rem;
    margin-top: 2rem;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: red;

}