*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    background-color: white;
    gap: 1rem;
}

.card p{
    font-family: monospace;
    font-size: 0.9rem;
    font-weight: 700;
}

.card p span{
    color: skyblue;


}

.card .outer{
    background-color: rgba(128, 128, 128, 0.552);
    height: 1rem;
    width: 90%;
    border-radius: 20px;

}

.card .outer .inner{
    height: 100%;
    width: 0%;
    background-color: rgb(0, 222, 30);
    border-radius: 20px;    

}

.card .details{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.card .details h1{
    font-family: monospace;
    font-weight: 800;
}

.card .details button{
    background-color: green;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    color: white;

    &:active{
        scale: 0.95;
    }
}