*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: black;
    gap: 2rem;
}

main .box{
    padding: 2rem 3rem;
    background-color: rgb(0, 82, 11);
    border-radius: 10px;

}

main .box h1{
    font-family: monospace;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

main .box h3{
    font-family: monospace;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

main .box p{
    font-family: monospace;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

main button{
    background-color: rgb(0, 119, 167);
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    color: white;

    &:active{
        font-size: 0.8rem;
    }
}