*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
html,body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
}

@property --rotate{
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation {
    from{
        --rotate: 0deg;
    }
    to{
        --rotate: 360deg;
    }
    
}

.box{
    padding: 0rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    height: 500px;
    width: 400px;
    border-radius: 15px;
    border: 0px solid rgba(255, 255, 255, 0);
    
    background: linear-gradient(rgb(0, 0, 0)) padding-box,
                conic-gradient(from var(--rotate),black,black,red,black) border-box;
    animation: rotation 3s infinite ease-in forwards;
    animation-play-state: paused;
    transition: all 0.5s ease-out;
    color: white;
    
    &:hover{
        animation-play-state: running;
        border-width: 8px;
        box-shadow: 0px 0px 40px red;
        color: red;
        text-shadow: 0px 0px 15px red;
    }
    

}

.box .lower{
    text-align: center;
    
}

.box .lower h2{
    margin: 1rem;
    font-size: 2.5rem;

    
}

.box .lower p{
    font-size: 1.2rem;
}


.box img{
    width: 100%;
    
}