@font-face {
    font-family: Stylish;
    src: url(ChettaVissto.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{ 
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main{
    height: 100%;
    width: 100%;
    background-color:#fff;
    color: #111;
}

#nav{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding: 10px 30px;
}

#nav h1{
    font-size: 60px;
    text-transform: uppercase;
    
}

#nav a{
    color: #111;
    font-size: 40px;
    margin-right: 25px;
    text-decoration: none;
}

#main>h1{
    margin-top: 150px;
    font-family: Stylish;
    text-align: center;
    font-size: 700px;
    font-weight: 400;
}

.btmleft{
    font-size: 150%;
    margin-top: 300px;
    margin-left: 1%;
    width: 500px;
}

.btmleft h2{
    margin-top: 50px;
}

.btmleft p{
    font-weight: 600;
}

.footnav{
    position: absolute;
    bottom: 2%;
    font-family: Stylish;
    font-size: 80px;
    padding-left: 1%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footnav a{
    padding-right: 5%;
    color: #111;
    text-decoration: underline;
}

#s1{
    z-index: 5;
    position: absolute;
    height: 700px;
    top: 35%;
    left: 70%;
    border-radius: 25px;
}

#s2{
    position: absolute;
    height: 500px;
    top: 40%;
    left: 50%;
    border-radius: 25px;
}

#s3{
    position: absolute;
    height: 500px;
    top: 50%;
    left: 60%;
    border-radius: 25px;
}